<div class="well sidebar-nav">
    <ul class="nav nav-list">
    <li class="nav-header">Documentation</a></li>
    <li><a href="{{site.baseurl}}/docs/installation.html">&nbsp;&nbsp;Installation</a></li>
    <li><a href="{{site.baseurl}}/docs/concepts.html">&nbsp;&nbsp;Key Concepts</a></li>
    <li><a href="{{site.baseurl}}/docs/tutorial.html">&nbsp;&nbsp;Tutorial</a></li>
    <li><a href="{{site.baseurl}}/docs/user-guide.html">&nbsp;&nbsp;User Guide</a></li>
    <li><a href="{{site.baseurl}}/docs/api-reference.html">&nbsp;&nbsp;API Reference</a></li>
    <li class="nav-header">Load Balancers</a></li>
    <li><a href="{{site.baseurl}}/docs/loadbalancers/dnsmasq.html">&nbsp;&nbsp;Dnsmasq</a></li>
    <li><a href="{{site.baseurl}}/docs/loadbalancers/nginx.html">&nbsp;&nbsp;Nginx</a></li>
    <li><a href="{{site.baseurl}}/docs/loadbalancers/haproxy.html">&nbsp;&nbsp;HAProxy</a></li>
    <li><a href="{{site.baseurl}}/docs/loadbalancers/tcp.html">&nbsp;&nbsp;Managed TCP</a></li>
    <li><a href="{{site.baseurl}}/docs/loadbalancers/rdp.html">&nbsp;&nbsp;RDP</a></li>
    <li class="nav-header">Clouds</a></li>
    <li><a href="{{site.baseurl}}/docs/clouds/osapi.html">&nbsp;&nbsp;OpenStack</a></li>
    <li><a href="{{site.baseurl}}/docs/clouds/osvms.html">&nbsp;&nbsp;OpenStack+VMS</a></li>
    <li><a href="{{site.baseurl}}/docs/clouds/docker.html">&nbsp;&nbsp;Docker</a></li>
    </ul>
</div>
